:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  /* background-color: #b3d4fc */
  background-color: #dddddd
}

.logo {
  /* display: flex; */
  /* width: 100%; */
  /* height: aut; */
  float: left;
}

nav {
  text-align: center;
  height: auto;
  background-color: white;
}

#nav-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 0px;
  background-color: black;
  width: 100%;
}

#nav-mobile li:hover {
  background-color: rgb(196, 196, 3);;
}

.banner {
  padding-top: 45px;
  background-color: rgb(242, 242, 129);
  font-family: 'Allan', cursive;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-left: 50px; */
}

.content {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: sans-serif;
}

/* .banner {
  margin: 0px;
} */