:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  min-height: 100%;
  /* background-color: #b3d4fc */
  background-color: #dddddd
}

.logo {
  /* display: flex; */
  /* width: 100%; */
  /* height: aut; */
  float: left;
}

nav {
  text-align: center;
  height: auto;
  background-color: white;
}

#nav-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 0px;
  background-color: black;
  width: 100%;
}

#nav-mobile li:hover {
  background-color: rgb(196, 196, 3);
}

.banner {
  padding-top: 45px;
  background-color: rgb(242, 242, 129);
  font-family: 'Allan', cursive;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-left: 50px; */
}

.content {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: sans-serif;
}

.chip {
  font-size: 0.91rem;
  height: 40px;
  padding: 10px;
  background-color: rgb(250, 132, 132);
  margin-bottom: 20px;
}

.collection {
  width: 350px;
}

.table {
  display: flex;
  justify-content: center;
  width: 100%;
}

td {
  border: 1px solid black;
}

.menu {
  position: absolute;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  float: left;
  background-color: white;
  padding: 10px;
}

.menu-item {
  padding: 10px;
}

@media(min-width:992px){
  .dropdown {
    display: none;
  }
}

@media(min-width:300px) and (max-width:830px){
  .logo{
    text-align: center;
    width: 100%;

  }

  .banner {
    width: 100%;
  }

  #nav-mobile {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 0px;
    background-color: black; */
    width: 100%;
  }
}